# NEXT_PUBLIC_API_BASE_URL=https://personal-.outsystemscloud.com/UserService/rest/UserAPI
# NEXT_PUBLIC_GROUP_API_BASE_URL=https://personal-.outsystemscloud.com/GroupService/rest/GroupAPI/
# NEXT_PUBLIC_EXPENSE_API_BASE_URL=https://personal-.outsystemscloud.com/ExpenseService/rest/ExpenseAPI
# NEXT_PUBLIC_GROUPMEMBER_API_BASE_URL=https://personal-.outsystemscloud.com/GroupService/rest/GroupMemberAPI/
# NEXT_PUBLIC_EXPENSE_SUMMARY_API_BASE_URL=https://personal-.outsystemscloud.com/ExpenseService/rest/ExpenseSummaryAPI
# NEXT_PUBLIC_EVEN_SPLIT_API_BASE_URL=https://personal-.outsystemscloud.com/ExpenseService/rest/EvenExpenseSplitAPI
# NEXT_PUBLIC_EXPENSES_SPLIT_API_BASE_URL=https://personal-.outsystemscloud.com/ExpenseService/rest/ExpensesSplitAPI
# NEXT_PUBLIC_UNEVEN_SPLIT_API_BASE_URL=https://personal-.outsystemscloud.com/ExpenseSplitting/rest/ExpenseSplittingAPI
# NEXT_PUBLIC_BALANCE_API_BASE_URL=https://personal-.outsystemscloud.com/BalanceCalculation/rest/BalanceCalculating
# NEXT_PUBLIC_CREDIT_TRANSFER_API_URL=https://personal-.outsystemscloud.com/CreditTransfer/rest/FundTransfer
# NEXT_PUBLIC_PAYMENT_HISTORY_API_BASE_URL=https://personal-.outsystemscloud.com/PaymentHistory/rest/PaymentHistory
#CREDIT_TRANSFER_API_KEY=your_api_key_here